Append

In [3]:
a = ["Sugar", "Sweet", "Gum"]
b = ["Biscuit", "Coke", "Volvo"]
a.append (b)
print (a)

['Sugar', 'Sweet', 'Gum', ['Biscuit', 'Coke', 'Volvo']]

In [5]:
food = ["Beans", "Rice", "Spagetti"]
food.append ("Plantain")
print (food)

['Beans', 'Rice', 'Spagetti', 'Plantain']

In [10]:
car = ["Mercedes Benz", "Audi", "BMW"]
car.append ("Suzuki")
print(car)

['Mercedes Benz', 'Audi', 'BMW', 'Suzuki']

In [12]:
color = ["blue", "green", "red"]
add = ["white", "orange", "pink"]
color.append (add)
print (color)

['blue', 'green', 'red', ['white', 'orange', 'pink']]

In [19]:
names = ["sola", "tope", "funke"]
plus = ["segun", "olu", "ola"]
names.append (plus)
print (names)

['sola', 'tope', 'funke', ['segun', 'olu', 'ola']]

In [20]:
like = ["food", "bags", "shoes"]
like.append ("clothes")
print (like)

['food', 'bags', 'shoes', 'clothes']

In [22]:
campus = ["unilag", "OAU", "OOU"]
campus.append ("tasued")
print (campus)

['unilag', 'OAU', 'OOU', 'tasued']

In [23]:
numbers = [3,5,6,8,6,8]
numbers.append (8)
print (numbers)

[3, 5, 6, 8, 6, 8, 8]

In [25]:
letters = ["t", "y", "u"]
plus = ["q", "i", "p"]
letters.append (plus)
print (letters)

['t', 'y', 'u', ['q', 'i', 'p']]

In [26]:
key = ["do", "re", "mi", "fa", "so"]
next = ["la", "ti", "do",]
key.append (next)
print (key)

['do', 're', 'mi', 'fa', 'so', ['la', 'ti', 'do']]

Insert

In [30]:
food = ["Beans", "Rice", "Spagetti"]
food.insert (1, "Plantain")
print (food)

['Beans', 'Plantain', 'Rice', 'Spagetti']

In [33]:
a = ["Sugar", "Sweet", "Gum"]
b = ["Biscuit", "Coke"]
a.insert (1,2)
print (a)

['Sugar', 2, 'Sweet', 'Gum']

In [34]:
car = ["Mercedes Benz", "Audi", "BMW"]
car.insert (0, "Suzuki")
print(car)

['Suzuki', 'Mercedes Benz', 'Audi', 'BMW']

In [38]:
color = ["blue", "green", "red"]
color.insert (0,1)
print (color)

[1, 'blue', 'green', 'red']

In [39]:
names = ["sola", "tope", "funke"]
plus = ["segun", "olu", "ola"]
names.insert (0, "oluwatise")
print (names)

['oluwatise', 'sola', 'tope', 'funke']

In [44]:
list1 = [1,4,6,5,3,9]
list1.insert (3, 37)
print (list1)

[1, 4, 6, 37, 5, 3, 9]

In [46]:
list = ["sun", "rise", "in", "the", "east"]
list.insert (0, "The")
print (list)

['The', 'sun', 'rise', 'in', 'the', 'east']

In [48]:
campus = ["unilag", "OAU", "OOU"]
campus.insert (3, "tasued")
print (campus)

['unilag', 'OAU', 'OOU', 'tasued']

In [49]:
letters = ["t", "y", "u"]
letters.insert (2, "plus")
print (letters)

['t', 'y', 'plus', 'u']

In [50]:
key = ["do", "re", "mi", "fa", "so"]
key.insert (5, "la")
print (key)

['do', 're', 'mi', 'fa', 'so', 'la']

modify

In [57]:
my_string = "Hello"
my_string = my_string + " " "world"
print (my_string)

Hello world

In [53]:
my_list = [1,2,3,4,5]
my_list[2] = 10
print (my_list)

[1, 2, 10, 4, 5]

In [55]:
my_string = "World"
my_string = my_string + " " "Cup"
print (my_string)

World Cup

In [56]:
my_list = [1,2,3,4,5]
my_list[4] = 20
print (my_list)

[1, 2, 3, 4, 20]

In [58]:
my_string = "Missing" + " " "my"
my_string = my_string + " " "wife"
print (my_string)

Missing my wife

In [59]:
my_list = [1,2,3,4,5]
my_list[1] = 24
print (my_list)

[1, 24, 3, 4, 5]

In [60]:
my_string = "Love" + " " "is"
my_string = my_string + " " "real"
print (my_string)

Love is real

POP

In [61]:
my_list = [1,2,3,4,5]
popped_element = my_list.pop(2)
print (my_list)

[1, 2, 4, 5]

In [100]:
my_list = [1,2,3,4,5,6]
last_element = my_list.pop()
my_list

[1, 2, 3, 4, 5]

In [76]:
food_list = ["Beans", "Rice", "Spagetti"]
pop_element = food_list.pop(1)
print = ("food_list")

In [ ]:
my_list = [1,2,3,4,5,6]
last_element = my_list.pop()
print (my_list)

In [ ]:
my_list = [1,2,3,4,5,6,7,8]
popped_element = my_list.pop(4)
print (my_list)

Remove

In [84]:
food = ["Beans", "Rice", "Spagetti"]

In [85]:
food.remove ("Rice")

In [86]:
food

['Beans', 'Spagetti']

In [89]:
a = ["Sugar", "Sweet", "Gum"]
a.remove ("Sweet")

In [90]:
a

['Sugar', 'Gum']

In [99]:
my_list = [1,2,3,4,5,6,7]
my_list.remove(3)
my_list

[1, 2, 4, 5, 6, 7]

In [101]:
color = ["blue", "green", "red"]
color.remove ("red")
color

['blue', 'green']

In [103]:
campus = ["unilag", "OAU", "OOU"]
campus.remove("OOU")
campus

['unilag', 'OAU']

In [104]:
key = ["do", "re", "mi", "fa", "so"]
key.remove ("so")
key

['do', 're', 'mi', 'fa']

In [105]:
car = ["Mercedes Benz", "Audi", "BMW"]
car.remove("BMW")
car

['Mercedes Benz', 'Audi']

In [106]:
my_list = [1,2,3,4,5]
my_list.remove (3)
my_list

[1, 2, 4, 5]

In [107]:
names = ["oluwatojumi", "zion", "oluwafolahanmi", "winner"]
names.remove ("winner")
names

['oluwatojumi', 'zion', 'oluwafolahanmi']

sort

In [108]:
my_list = [6,9,13,4,67,21,54,12,1,9]
my_list.sort ()
my_list

[1, 4, 6, 9, 9, 12, 13, 21, 54, 67]

In [109]:
list1 = [1,4,6,5,3,9]
list1.sort ()
list1

[1, 3, 4, 5, 6, 9]

In [111]:
my_numbers = [4,67,21,54,12,1,9]
my_numbers.sort ()
my_numbers

[1, 4, 9, 12, 21, 54, 67]

In [113]:
ages_students = [34,12,24,21,9,11,18]
ages_students.sort ()
ages_students

[9, 11, 12, 18, 21, 24, 34]

In [114]:
numbers = [3,5,6,8,6,8]
numbers.sort ()
numbers

[3, 5, 6, 6, 8, 8]

In [115]:
campus = ["unilag", "OAU", "OOU"]
campus.sort()
campus

['OAU', 'OOU', 'unilag']

In [116]:
names = ["oluwatojumi", "zion", "oluwafolahanmi", "winner"]
names.sort ()
names

['oluwafolahanmi', 'oluwatojumi', 'winner', 'zion']

In [117]:
list = ["sun", "rise", "in", "the", "east"]
list.sort ()
list

['east', 'in', 'rise', 'sun', 'the']

In [118]:
key = ["do", "re", "mi", "fa", "so"]
key.sort ()
key

['do', 'fa', 'mi', 're', 'so']

In [119]:
a = ["Sugar", "Sweet", "Gum"]
a.sort ()
a

['Gum', 'Sugar', 'Sweet']

Reverse

In [120]:
my_numbers = [4,67,21,54,12,1,9]
my_numbers.reverse ()
my_numbers

[9, 1, 12, 54, 21, 67, 4]

In [121]:
word_list = ["Love", "Joy", "Peace", "Happiness"]
word_list.reverse ()
word_list

['Happiness', 'Peace', 'Joy', 'Love']

In [122]:
key = ["do", "re", "mi", "fa", "so"]
key.reverse()
key

['so', 'fa', 'mi', 're', 'do']

In [123]:
names = ["oluwatojumi", "zion", "oluwafolahanmi", "winner"]
names.reverse ()
names

['winner', 'oluwafolahanmi', 'zion', 'oluwatojumi']

In [135]:
word_list = ["Love", "Joy", "Peace", "Happiness"]
word_list.reverse ()
word_list

['Happiness', 'Peace', 'Joy', 'Love']

In [136]:
my_numbers = [21,54,12,1,9]
my_numbers.reverse ()
my_numbers

[9, 1, 12, 54, 21]